#topbar {
  border-radius: 17px;
  background-color: rgb(12, 17, 22);
  width: 94.5vw;
  height: 63px;
  margin: 21px auto;
  /* font-family: "Poppins"; */
  display: flex;
  justify-content: flex-end;
}

#nextbar {
  border-radius: 8px;
  position: static;
  /* background-color: rgb(36, 63, 85); */
  background-color: rgba(255, 255, 255, 0.05);
  /* width: 47.6vw; */
  width: 914px;
  height: 49px;
  /* margin-top: 8.88vh; */
  /* margin-left: 25.94vw; */
  margin: 8.88vh auto;
  margin-bottom: 0px;
}

#topsearch {
  border-radius: 13px;
  background-color: rgb(24, 29, 34);
  width: 23.44vw;
  height: 35px;
  margin-right: 24px;
  margin-top: 15px;
  position: static;
  display: flex;
}

#searchicon {
  position: static;
  margin-top: 0px;
  margin-left: 0.5vw;
  width: 25px;
}

#searchinput {
  border: none;
  padding-left: 5px;
  padding-top: 0px;
  background-color: transparent;
  color: white;
  font-size: 14px;
  width: 16.77vw;
  font-family: "Poppins";
}

#searchinput:focus {
  outline: none;
}

#filter {
  position: static;
  margin-right: 0px;
  margin-top: 7px;
  text-decoration: none;
  display: flex;
  color: white;
  font-size: 13px;
  transform: translateX(19px);
}

#filter::before {
  transform: translateX(-11px);
  content: url("./images/filter.svg");
  width: 12px;
  height: 12px;
}

#watch2gether {
  margin-right: 22px;
  margin-top: -3px;
  width: 32px;
  display: inline;
}

.grayhover1:hover {
  filter: invert(7%) sepia(0%) saturate(46%) hue-rotate(138deg) brightness(91%)
    contrast(86%);
  transition: filter 0.1s ease-out;
  cursor: pointer;
}

.grayhover2:hover {
  color: rgb(204, 204, 204);
}

.grayhover2 {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#random {
  position: static;
  margin-right: 26px;
  margin-top: -3px;
  width: 27px;
}

#genrebutton {
  position: static;
  margin-right: 28px;
  margin-top: 18px;
}

#typesbutton {
  position: static;
  margin-right: 28px;
  margin-top: 18px;
}

#newrbutton {
  position: static;
  margin-right: 29px;
  margin-top: 18px;
}

#upbutton {
  position: static;
  margin-right: 29px;
  margin-top: 18px;
}

#ongbutton {
  position: static;
  margin-right: 28px;
  margin-top: 18px;
}

#recbutton {
  position: static;
  margin-right: 28px;
  margin-top: 18px;
}

.underbuttons::after {
  content: "";
  display: block;
  position: static;
  background-color: rgb(228, 95, 58);
  width: 0px;
  height: 2px;
  transform: translateY(-1px);
  transition: width 0.15s linear;
}

.underbuttons:hover::after {
  width: 50%;
}

#langop1 {
  position: absolute;
  color: white;
  padding-left: 11px;
  padding-top: 3px;
  border-radius: 17px;
  height: 28px;
  width: 30px;
}

#langop2 {
  position: absolute;
  color: white;
  margin-left: 41px;
  padding-left: 13px;
  padding-top: 3px;
  border-radius: 17px;
  height: 28px;
  width: 27px;
}

#langsw {
  position: static;
  margin-right: 22px;
  margin-top: 16px;
  width: 82px;
  height: 29px;
  background-color: rgb(24, 29, 34);
  border-radius: 17px;
  cursor: pointer;
}

#langsw:hover {
  background-color: rgb(35, 42, 49);
}

#notifs {
  position: static;
  margin-right: 82px;
  margin-top: -5px;
  width: 28px;
}

body {
  margin: 0px;
  background: linear-gradient(
    to bottom,
    rgb(25, 76, 97),
    rgb(12, 17, 22) 560px
  );
  height: 2830px;
  font-family: "Poppins";
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(24, 29, 34);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(229, 103, 68);
  border-radius: 10px;
}

#outputp {
  margin: 0px;
}

#folders {
  color: white;
  margin: 40px auto;
  display: flex;
  width: 880px;
  height: 10px;
  justify-content: space-evenly;
  font-size: 15px;
}

.folder {
  cursor: pointer;
}

#more {
  display: flex;
}

#more:hover {
  color: rgb(204, 204, 204);
}

#more::after {
  content: url("./images/arrow.svg");
  margin-left: 7px;
  margin-top: 2px;
}

#filterbar {
  font-family: "Poppins";
  color: white;
  margin: 52px auto;
  margin-bottom: 0px;
  display: flex;
  width: 1346px;
  height: 40px;
  justify-content: left;
  font-size: 14px;
}

#filtersearch {
  font-family: "Poppins";
  color: #d2d3d4;
  background: #11161b;
  width: 201px;
  height: 35px;
  border-radius: 9px;
  border: none;
  padding: 0px;
  padding-left: 14px;
  font-size: 14px;
  margin-right: 11px;
}

#filtersearch:focus {
  outline: none;
}

#filtersearchicon {
  content: url("./images/search.svg");
  position: absolute;
  margin-left: 188px;
  margin-top: 7px;
  width: 20px;
}

.selector {
  user-select: none;
  background-color: #11161b;
  color: #a6a9b1;
  width: 201px;
  padding: 0px;
  padding-left: 14px;
  padding-top: 7px;
  height: 28px;
  border-radius: 9px;
  border: none;
  margin-right: 11px;
  transition: background-color 0.1s ease-out;
  transition: color 0.1s ease-out;
  cursor: pointer;
}

.selector::after {
  display: block;
  content: url("./images/arrow.svg");
  transform: scale(0.65) translateY(-30px);
  margin-left: 171px;
}

.selector:hover {
  background-color: #181d22;
  color: #ffffff;
  transition: background-color 0.1s ease-out;
  transition: color 0.1s ease-out;
}

.options {
  border-radius: 9px;
  position: absolute;
  display: none;
  background-color: #1c2228;
  /* background-color: #ffffff; */
  width: 185px;
  height: auto;
  margin-top: 40px;
  padding: 14px;
  padding-top: 10px;
  font-size: 13px;
  z-index: 10;
}

.option {
  position: relative;
  color: #d2d3d4;
  border-radius: 3px;
  background-color: #1c2228;
  padding: 3px;
  margin: 2px;
  /* margin-left:35px; */
  padding-left: 25px;
  padding-top: 4.5px;
  user-select: none;
  /* display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px; */
}

.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.option:hover {
  background-color: #11161b;
}

.option input:checked ~ .checkmark {
  background-color: white;
}

.option input[readonly] ~ .checkmark {
  background-color: #86888b;
}

.option:has(input:checked) {
  background-color: #36cb68;
  color: white;
}

.option:has(input[readonly]) {
  background-color: #0c1116;
  color: #86888b;
}

.checkmark {
  border-radius: 2px;
  position: absolute;
  top: 8px;
  left: 8px;
  height: 12px;
  width: 12px;
  background-color: #d2d3d4;
}

.checkmark:after {
  content: "+";
  color: #36cb68;
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.option input:checked ~ .checkmark:after {
  display: block;
}

.option input[readonly] ~ .checkmark:after {
  display: block;
  color: #0c1116;
  content: "-";
}

/* Style the checkmark/indicator */
.option .checkmark:after {
  left: 2px;
  top: -3px;
  width: 5px;
  height: 10px;
}

#genreoptions {
  width: auto;
  grid-template-columns: auto auto auto;
}

.radiooption {
  position: relative;
  color: #d2d3d4;
  border-radius: 3px;
  background-color: #1c2228;
  padding: 3px;
  margin: 2px;
  padding-left: 25px;
  padding-top: 4.5px;
  user-select: none;
}

.radiooption input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radiooption:hover {
  background-color: #11161b;
}

.radiooption input:checked ~ .radiomark {
  background-color: white;
}

.radiooption:has(input:checked) {
  background-color: #e45f3a;
  color: white;
}

.radiooption:hover:has(input:checked) {
  background-color: #36cb68;
}

.radiomark {
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
  height: 12px;
  width: 12px;
  background-color: #d2d3d4;
}

.radiomark:after {
  content: "L";
  color: #36cb68;
  position: absolute;
  display: none;
  rotate: 45deg;
  transform: scaleX(-1);
}

/* Show the checkmark when checked */
.radiooption input:checked ~ .radiomark:after {
  display: block;
}

.radiooption .radiomark:after {
  left: 3px;
  top: 0px;
  width: 5px;
  height: 10px;
  font-size: 8px;
}

#moreselect {
  border-radius: 9px;
  background-color: #11161b;
  display: inline;
  width: 41px;
  height: 35px;
  position: relative;
  margin-right: 13px;
  cursor: pointer;
}

#moreoptionsicon {
  position: absolute;
  width: 18px;
  left: 13px;
  top: 8px;
  user-select: none;
}

#submitbtn {
  position: relative;
  border-radius: 9px;
  width: 88px;
  height: 28px;
  background-color: #e35f3a;
  padding-left: 73px;
  padding-top: 7px;
  cursor: pointer;
  user-select: none;
}

#submitbtn::before {
  position: absolute;
  content: url("./images/feather.svg");
  width: 18px;
  left: 54px;
  top: 8px;
}

#submitbtn:hover {
  background-color: #b73c19;
  transition: background-color 0.1s ease-out;
}

#moreoptions {
  border-radius: 17px;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background-color: rgb(35, 42, 49);
  margin-top: 53px;
  padding-top: 25px;
  padding-left: 26px;
  padding-bottom: 25px;
}

.smallector {
  user-select: none;
  background-color: #1c2227;
  color: #a6a9b1;
  width: 148px;
  padding: 0px;
  padding-left: 14px;
  padding-top: 7px;
  height: 28px;
  border-radius: 9px;
  border: none;
  margin-right: 11px;
  transition: background-color 0.1s ease-out;
  transition: color 0.1s ease-out;
  cursor: pointer;
  font-size: 14px;
}

.smallector::after {
  display: block;
  content: url("./images/arrow.svg");
  transform: scale(0.65) translateY(-30px);
  margin-left: 119px;
}

.smallector:hover {
  background-color: #181d22;
  color: white;
  transition: background-color 0.1s ease-out;
  transition: color 0.1s ease-out;
}

.smalloptions {
  border-radius: 9px;
  position: absolute;
  display: none;
  background-color: #1c2228;
  /* background-color: #ffffff; */
  width: 134px;
  height: auto;
  margin-top: 37px;
  padding: 14px;
  padding-top: 14px;
  font-size: 13px;
}

.smalloption {
  position: relative;
  color: #d2d3d4;
  border-radius: 3px;
  background-color: #1c2228;
  padding: 3px;
  margin: 2px;
  /* margin-left:35px; */
  padding-left: 25px;
  padding-top: 4.5px;
  /* display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px; */
}

.smalloption input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.smalloption:hover {
  background-color: #11161b;
}

.smalloption input:checked ~ .checkmark {
  background-color: white;
}

.smalloption:has(input:checked) {
  background-color: #36cb68;
  color: white;
}

.smalloption input:checked ~ .checkmark:after {
  display: block;
}

.smalloption .checkmark:after {
  left: 2px;
  top: -3px;
  width: 5px;
  height: 10px;
}

#ratingoptions {
  width: 210px;
  margin-left: 346px;
}

#yearoptions {
  width: auto;
  grid-template-columns: 107px 107px 107px;
  margin-left: 173px;
}

#outputd {
  color: white;
}

#statsdiv {
  justify-content: space-between;
  color: white;
  display: flex;
  width: 1350px;
  margin: 0px auto;
  margin-top: 16px;
  font-size: 14px;
}

#anotherrandom {
  display: grid;
  grid-template-columns: auto auto;
}

#anotherrandom::before {
  content: url("images/random.svg");
  width: 18px;
  margin-right: 2px;
}

.itemcontainer {
  margin: 0px auto;
  margin-top: 24px;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 1345px;
  justify-content: space-between;
}

.aitem {
  width: 432px;
  height: 161px;
  background-color: #1e252b;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 114px auto;
  margin-bottom: 24px;
}

.aitem:hover {
  background-color: #20272e;
}

.coverimg {
  height: 161px;
  border-radius: 16px;
}

.eyebtn {
  width: 16px;
  margin-left: 155px;
  transform: translateY(-18px);
  cursor: pointer;
}

.leftpart {
  cursor: pointer;
}

.leftpart:hover > div {
  visibility: visible;
}

.rightpart {
  display: grid;
  grid-template-rows: 52px 75px auto;
  color: white;
}

.infobtn {
  visibility: hidden;
  position: absolute;
  background-color: #e45f3a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -160px;
  margin-left: 90px;
}

.infobtn:hover {
  width: 22px;
  height: 22px;
  margin-left: 89px;
  margin-top: -161px;
}

.fake-dropdown {
  margin-left: 17px;
  background-color: #293036;
  width: 100px;
  height: 18px;
  border-radius: 5px;
  padding: 0px;
  padding-left: 9px;
  padding-top: 3px;
  margin-top: 18px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  justify-content: space-between;
  transition: background-color 0.1s ease-in;
}

.fake-dropdown::after {
  content: url("./images/arrow.svg");
  display: block;
  width: 5px;
  transform: scale(0.65) translateY(-27px);
  margin-left: 57px;
  /* right: 5px; */
}

.fake-dropdown:hover {
  background-color: #e4543a;
  transition: background-color 0.1s ease-in;
}

.title {
  margin-left: 18px;
  font-size: 14px;
  cursor: pointer;
}

.epinfo {
  font-size: 11px;
  margin-left: 17px;
}

.subcount {
  background-color: #46312e;
  border-radius: 6px;
  color: #e35e39;
  border: 1px solid #e35e39;
  padding-top: -2px;
  padding-right: 2px;
  padding-left: 3px;
  margin-right: 14px;
}

.dubcount {
  background-color: #234737;
  border-radius: 6px;
  color: #36cb68;
  border: 1px solid #36cb68;
  padding-top: -2px;
  padding-right: 2px;
  padding-left: 3px;
  margin-right: 14px;
}

.dubcount::before {
  content: url("./images/microphone.svg");
  display: inline-block;
  transform: scale(1.2) translateY(2px);
  margin-right: 4px;
}

.totalcount {
  padding-top: -2px;
  padding-right: 2px;
  padding-left: 3px;
}
