.ContributionCalendar-day,
.ContributionCalendar-day[data-level="0"] {
  fill: rgb(22, 27, 34);
  shape-rendering: geometricPrecision;
  background-color: rgb(22, 27, 34);
  border-radius: 2px;
  outline: 1px solid rgba(27, 31, 35, 0.06);
  outline-offset: -1px;
}

.ContributionCalendar-day[data-level="-1"] {
  fill: rgb(18, 18, 18);
  background-color: rgb(18, 18, 18);
  outline: 1px solid rgb(18, 18, 18);
}

.ContributionCalendar-day[data-level="-2"] {
  fill: rgb(33, 41, 51);
  background-color: rgb(33, 41, 51);
  outline: 1px solid rgba(27, 31, 35, 0.06);
}

.ContributionCalendar-day[data-level="1"] {
  fill: rgb(14, 68, 41);
  background-color: rgb(14, 68, 41);
  outline: 1px solid rgba(255, 255, 255, 0.05);
}

.ContributionCalendar-day[data-level="2"] {
  fill: rgb(0, 109, 50);
  background-color: rgb(0, 109, 50);
  outline: 1px solid rgba(255, 255, 255, 0.05);
}

.ContributionCalendar-day[data-level="3"] {
  fill: rgb(38, 166, 65);
  background-color: rgb(38, 166, 65);
  outline: 1px solid rgba(255, 255, 255, 0.05);
}

.ContributionCalendar-day[data-level="4"] {
  fill: rgb(57, 211, 83);
  background-color: rgb(57, 211, 83);
  outline: 1px solid rgba(255, 255, 255, 0.05);
}

.ContributionCalendar-day[data-level="5"] {
  fill: rgb(57, 255, 83);
  background-color: rgb(57, 255, 83);
  outline: 1px solid rgba(255, 255, 255, 0.05);
}

pre {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: white;
}

.anime-detail-header-stats {
  /* display: flex; */
  color: rgb(255, 255, 255);
  vertical-align: top !important;
}

.stats-block {
  background-color: #181818;
  border: #272727 1px solid;
  border-radius: 1px;
  height: 68px;
  padding: 8px 10px;
  display: block;
  position: relative !important;
}

.f1-1 {
  color: #e0e0e0;
  display: block;
  font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 30px 0 22px;
  position: relative;
  text-align: center;
  width: 60px;
  float: left !important;
}

.di-ib {
  padding-top: 8px;
  padding-left: 20px;
  margin-left: 12px;
  display: inline-block;
}

.information-block {
  left: 105px;
  position: absolute;
  top: 58px;
  display: inline-block !important;
}

.user-status-block {
  background-color: #181818;
  border: #272727 1px solid;
  padding: 6px 0;
  padding-left: 10px;
  /* white-space: nowrap; */
  color: #e0e0e0 !important;
  margin-top: 8px !important;
  /* text-align: left !important; */
  position: relative !important;
  display: block;
}

.information {
  border-right: #414141 1px solid;
  color: #e0e0e0;
  display: inline-block;
  /* float: left; */
  font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
  font-size: 15px;
  margin-right: 12px;
  padding-right: 12px;
}

select {
  background-color: rgb(18, 18, 18);
  border: 5px;
  border-color: rgb(195, 195, 195);
  color: white;
}

button {
  border: 0px;
  box-shadow: none;
  background-color: rgb(18, 18, 18);
  color: white;
}

input {
  text-align: right;
}

a {
  color: blue;
  text-decoration-line: none;
}

.checkboxes {
  color: white;
}

.ranges {
  color: white;
}

.statsInput {
  background-color: rgb(18, 18, 18);
  color: white;
  font-family: monospace;
  font-size: 14px;
  border:none;
  border-bottom: 1px white dashed;
  width:12ch;
}

section.range-slider {
  position: relative;
  width: 200px;
  height: 35px;
  text-align: center;
}

section.range-slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 15px;
  width: 200px;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

section.range-slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}

section.range-slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}
section.range-slider input[type="range"]::-moz-focus-outer {
  border: 0;
}

.hidertext {
  color: white;
}

.columni {
  border: 1px white;
  border-style: none solid none none;
  padding-right: 10px;
}

#timelined {
  top: 5vh;
  padding-left: 10px;
  display: flex;
  width: 98vw;
  border: 1px solid white;
  overflow: auto;
  color: white;
  scrollbar-width: none;
}

#gamediv {
  margin: auto;
  margin-top: 10%;
  width: 50%;
  height: 50%;
  border: 3px solid green;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.gamecard {
  border: 2px solid red;
  display:grid;
  width: 200px;
  padding:10px;
  justify-items: center;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.gamecard:hover {
  background-color:#272727;
  transition: background-color 0.1s ease-in-out;
}

.gametitle {
  max-width:max-content;
}

.gamerating {
  text-align: center;
}